{% extends 'base.html' %}
{% block content %}

<br>
{% for review in reviews %}
{{review.schoolname}}
{% endfor %}

{% for college in addcollege %}
<div class="card text-center mt-4">
<!--  <div class="card-header">-->
<!--    <b>{{college.address}}</b>-->
<!--  </div>-->
  <div class="card-body">
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-md-4">
          <b>Faculty</b>
          <p>{{college.facultyName}}</p>
            <hr>
             <h5 style="font-weight:bold">Overall Rating</h5>



            <div class="rating">
                <span class="fa fa-star "></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>

        </div>
        <div class="col-md-4">
          <h5 class="card-title">{{college.name}}</h5>
          <p class="card-text">{{college.description}}</p>
          <a href="{{college.website}}" class="btn btn-primary">Find more</a>
        </div>
        <div class="col-md-4">
            <div class="schoolimg">
          <img src="{{college.image.url}}" height="160px" width="260px" />
            </div>
          <br /><br />
          {{college.website}}
        </div>
      </div>
    </div>
  </div>

    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12 my-5">
                    <div class="owl-carousel owl-theme">
                        {% for review in reviews %}
                         <div class="item p-2 card  border-1 h-100">
                            <img src=""/>
                             <h4>{{review.registered_email}}</h4>
                            <h4>{{review.schoolname}}</h4>
                            <h4>{{review.address}}</h4>
                            <h4>{{review.rating}}</h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}
{% block scripts %}
<script>

</script>

{% endblock scripts%}

{% endblock %}

